{% extends 'courses/testing.html' %}
{% block content %}
 <h2>HTML Introduction</h2>

<hr>
                   <p>HTML is the standard markup language for creating Web pages.</p>
                   <p>HTML stands for Hyper Text Markup Language</p>
<hr>
                   <p>HTML (Hypertext Markup Language) is a markup language used for creating web pages and other online content that can be displayed in a web browser. It consists of a series of tags and attributes that are used to structure and format the content of a web page. HTML documents can include text, images, video, audio, forms, and other types of media.</p>
                   <p>An HTML document is structured using elements, which are enclosed by opening and closing tags. The opening tag is the name of the element surrounded by angle brackets (&lt;  &gt;) The closing tag is the same as the opening tag, but with an extra forward slash (/) before the element name.</p>
                   <p>HTML documents also have a head section and a body section. The head section contains information about the document itself, such as the title, author, and other metadata. The body section contains the actual content that will be displayed in the web page.</p>
                   <p>Overall, HTML is a fundamental building block of web development and an essential skill for anyone who wants to create websites or online content.</p>
<hr>
                <h2>What is HTML?</h2>
                   <p>HTML stands for Hypertext Markup Language. It is the standard markup language used to create web pages and other online content that can be displayed in a web browser.</p>
                   <p>HTML uses a series of tags and attributes to structure content on a web page. Tags are enclosed in angle brackets (&lt;  &gt;) and indicate the beginning and end of an element, such as a paragraph or a heading. Attributes provide additional information about an element, such as the color or size of text.</p>
                   <p>Web browsers use HTML to interpret and display web pages, allowing users to interact with and access online content. HTML is a fundamental technology of web development, and learning HTML is often the first step towards becoming a web developer.</p>



{% endblock%}




{% extends 'courses/testing.html' %}
{% block content %}



{% endblock%}
