
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML Introduction</title>
</head>
<body>

  <h1>HTML Introduction</h1>

  <p>HTML is the acronym for Hyper Text Markup Language.
      It serves as the standard markup language for
      creating web pages and defining their structure.
      HTML is the backbone of web development and enables
      web browsers to interpret and display content correctly.</p>
  <p>
      An HTML document is built using a series of elements,
      each labeled with specific tags that instruct the browser
      on how to display the content. These elements include headings,
      paragraphs, links, images, tables, and more, which collectively
      compose the visible content of a web page.
  </p>

  <h2>A Simple HTML Document</h2>

  <pre><code>
    &lt;!DOCTYPE html&gt;
    &lt;html&gt;
    &lt;head&gt;
      &lt;title&gt;Page Title&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;

      &lt;h1&gt;My First Heading&lt;/h1&gt;
      &lt;p&gt;My first paragraph.&lt;/p&gt;

    &lt;/body&gt;
    &lt;/html&gt;
  </code></pre>

  <p>The above example is a basic HTML document. Here's an explanation of its components:</p>

  <ul>
    <li><code>&lt;!DOCTYPE html&gt;</code>: This declaration indicates that the document is written in HTML5.</li>
    <li><code>&lt;html&gt;</code>: The root element of an HTML page, encompassing the entire document.</li>
    <li><code>&lt;head&gt;</code>: This section contains meta information about the HTML page, including the page's title displayed in the browser's title bar or tab.</li>
    <li><code>&lt;title&gt;</code>: Defines the title of the HTML page.</li>
    <li><code>&lt;body&gt;</code>: Contains all the visible contents of the page, such as headings, paragraphs, images, links, etc.</li>
    <li><code>&lt;h1&gt;</code>: Represents a top-level heading, typically used for the main heading of a page.</li>
    <li><code>&lt;p&gt;</code>: Represents a paragraph element to structure and present text content.</li>
  </ul>

  <h2>HTML History</h2>

  <p>HTML has undergone various versions since the inception of the World Wide Web, with each version bringing improvements and new features. The evolution of HTML is as follows:</p>

  <table>
    <tr>
      <th>Year</th>
      <th>Version</th>
    </tr>
    <tr>
      <td>1989</td>
      <td>Tim Berners-Lee invented the World Wide Web (WWW).</td>
    </tr>
    <tr>
      <td>1991</td>
      <td>Tim Berners-Lee created HTML.</td>
    </tr>
    <tr>
      <td>1993</td>
      <td>Dave Raggett drafted HTML+.</td>
    </tr>
    <tr>
      <td>1995</td>
      <td>HTML Working Group defined HTML 2.0.</td>
    </tr>
    <tr>
      <td>1997</td>
      <td>W3C Recommendation - HTML 3.2.</td>
    </tr>
    <tr>
      <td>1999</td>
      <td>W3C Recommendation - HTML 4.01.</td>
    </tr>
    <tr>
      <td>2000</td>
      <td>W3C Recommendation - XHTML 1.0.</td>
    </tr>
    <tr>
      <td>2008</td>
      <td>WHATWG HTML5 First Public Draft.</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>WHATWG HTML5 Living Standard.</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>W3C Recommendation - HTML5.</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>W3C Candidate Recommendation - HTML 5.1.</td>
    </tr>
    <tr>
      <td>2017</td>
      <td>W3C Recommendation - HTML5.1 2nd Edition.</td>
    </tr>
    <tr>
      <td>2017</td>
      <td>W3C Recommendation - HTML5.2.</td>
    </tr>
  </table>

  <p>This tutorial follows the latest HTML5 standard.</p>

</body>
</html>

