<ul style="list-style-type: none; padding-left: 0;">
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-1" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 1
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-2" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 2
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-3" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 3
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-4" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 4
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-5" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 5
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-6" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 6
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-7" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 7
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-8" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 8
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-9" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 9
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-10" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 10
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-11" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 11
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-12" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 12
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-13" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 13
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-14" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 14
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-15" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 15
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-16" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 16
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-17" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 17
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-18" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 18
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-19" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 19
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-20" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 20
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-21" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 21
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-22" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 22
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-23" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 23
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-24" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 24
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-25" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 25
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-26" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 26
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-27" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 27
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-28" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 28
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-29" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 29
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-30" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 30
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-31" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 31
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-32" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 32
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-33" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 33
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-34" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 34
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-35" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 35
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-36" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 36
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-37" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 37
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-38" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 38
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-39" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 39
        </a>
    </li>
    <li style="display: inline-block; margin-right: 10px; margin-bottom: 20px;">
        <a href="/courses/html-template-40" class="divListAnchor disabled-link link"
            style="text-decoration: none; color: #fff; background-color: #777; padding: 1px 1px; border-radius: 5px;">
            HTML Introduction 40
        </a>
    </li>
</ul>
